{% load static %}

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <h2 class="fs-1">Ready to Connect with Learners?</h2>
        <p class="mb-4">Teachers can create attractive profiles showcasing their expertise and experience to get more students. Browse and apply for hiring posts created by learners, or receive direct teaching requests based on your profile.</p>
        <p>There are two main ways to connect with students:</p>
        <ul>
          <li>Apply to hiring posts created by learners</li>
          <li>Receive direct teaching requests from learners who view your profile</li>
        </ul>
        <a href="#" class="btn btn-primary mt-3">Browse Hiring Posts</a>
      </div>
      <div class="col-md-6 order-md-1">
        <img src="{% static 'images/element/03.svg' %}" alt="Teacher illustration" class="img-fluid">
      </div>
    </div>
  </div>
</section>