{% load static %}

<section class="py-5 bg-light">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="fs-1">What Our Users Say</h2>
        <p class="mb-0">Testimonials from teachers and learners on our platform</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="card bg-body shadow p-4 h-100">
          <div class="d-flex mb-3">
            <span class="avatar avatar-md">
              <img class="avatar-img rounded-circle" src="{% static 'images/avatar/01.jpg' %}" alt="avatar">
            </span>
            <div class="ms-3">
              <h6 class="mb-0">Sarah Johnson</h6>
              <p class="mb-0 small">Learner</p>
            </div>
          </div>
          <p class="mb-0">"Finding a qualified math tutor was so easy with WeTeach. I created a hiring post and within hours had multiple qualified applicants. My son's grades have improved significantly!"</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="card bg-body shadow p-4 h-100">
          <div class="d-flex mb-3">
            <span class="avatar avatar-md">
              <img class="avatar-img rounded-circle" src="{% static 'images/avatar/02.jpg' %}" alt="avatar">
            </span>
            <div class="ms-3">
              <h6 class="mb-0">Michael Chen</h6>
              <p class="mb-0 small">Teacher</p>
            </div>
          </div>
          <p class="mb-0">"As a part-time teacher, WeTeach has been instrumental in helping me find students who need my expertise in physics. The platform is intuitive and the direct request feature makes connecting with students seamless."</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card bg-body shadow p-4 h-100">
          <div class="d-flex mb-3">
            <span class="avatar avatar-md">
              <img class="avatar-img rounded-circle" src="{% static 'images/avatar/03.jpg' %}" alt="avatar">
            </span>
            <div class="ms-3">
              <h6 class="mb-0">Emily Rodriguez</h6>
              <p class="mb-0 small">Learner</p>
            </div>
          </div>
          <p class="mb-0">"I needed a Spanish tutor for my business trip to Madrid. Not only did I find a native speaker through WeTeach, but the scheduling and payment process was incredibly smooth. Highly recommended!"</p>
        </div>
      </div>
    </div>
  </div>
</section>