{% load static %}

<header class="navbar-light navbar-sticky header-static">
    <nav class="navbar navbar-expand-xl">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="light-mode-item navbar-brand-item" src="{% static 'images/logo.svg' %}" alt="logo">
                <img class="dark-mode-item navbar-brand-item" src="{% static 'images/logo-light.svg' %}" alt="logo">
            </a>
            
            <!-- Navigation items here -->
            
        </div>
    </nav>
</header>